/node_modules
/public/hot
/public/storage
/public/tmp
/public/sitemaps
/public/sitemap.xml
/public/uploads
/storage/*.key
/vendor
/.idea
/.DS_Store
.env
.phpunit.result.cache
/coverage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/.codegraph
