body.contractors {
  table {
    td {
      padding: 12px;
    }

    td.name {
      //width: 40%;
    }
    td.count {
      width: 12%;
    }
    td.value {
      width: 13%;
      text-align: right;
    }
    td.national-id {
      width: 12%;
    }
  }
}
body.contractor {
  table {
    td {
      padding: 12px;
    }

    td.title {
      width: auto;
    }
    td.offeror {
      width: 17%;
    }
    td.contractors {
      width: 17%;
    }
    td.cpv {
      width: 12%;
    }
    td.nb {
      width: 7%;
    }
    td.value {
      width: 11%;
      text-align: right;
    }
    td.date {
      width: 10%;
    }
  }
}