body.frontpage {
  section {
    h3 {
      font-size: 1.3rem;
      color: $red;
    }
  }

  section.lead {
    padding: 80px 0;
    background-color: $lightblue;

    p.lead {
      font-size: 1.39rem;
      color: $blue;
      margin-bottom: 2rem;

      a {
        color: $blue;
        text-decoration:underline;
        text-decoration-color: $black;

        &:hover {
          text-decoration-color: $blue;
          color: $blue;
        }
      }
    }

    form.search-form-lg {

      input {
        border: 2px solid #e4e2e0;
        border-right: none;
      }

      button {
        padding: 0 0.5rem;
        background-color: $blue;
        border: 2px solid $blue;

        svg {
          transform: scale(0.8);
        }
      }

    }
  }

  section.overview {
    padding: 50px 0;
    background-color: $blue;

    .box {
      background-color: #fff;
      padding: 30px;
      margin-bottom: 30px;

      h3 {
        margin-bottom: 20px;

        a {
          color: $red;
          text-decoration: none;
        }
      }

      ul.nav-tabs {
        margin-bottom: 20px;

        li.nav-item {
          width: 50%;

          a.nav-link {
            font-size: 0.8rem;
            line-height: 1.4;
            padding: 0.5rem;
            text-align: center;
            font-weight: 400;
            background-color: #f6f6f5;
            border-radius: 0;
            color: $black;
          }
          a.nav-link.active {
            font-weight: 600;
            background-color: #fff;
          }
        }
      }

      ol.top-ten {
        list-style: none;
        counter-reset: item;
        padding-left: 3px;

        li {
          counter-increment: item;
          margin-bottom: 2px;

          a {
            color: $black;
            text-decoration: underline;
            text-decoration-color: $blue;
          }
          a:hover {
            color: $blue;
          }
        }
        li:before {
          margin-right: 5px;
          content: counter(item) ".";
          color: $red;
        }
      }
    }
  }

  section.news {
    padding: 50px 0;

    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    .teaser-wrapper {

      .teaser-meta {
        font-size: 80%;
        color: $grey;
      }

      .teaser-image {
        display: block;
        width: 100%;
        opacity: 0.85;
      }

      .teaser-text p {
        line-height: 1.55rem;
      }
    }

    .teaser-wrapper:hover {
      .teaser-image {
        opacity: 1;
        transition: all 0.4s;
      }
    }
  }

  section.features {
    padding: 50px 0;

    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }

    .feature-wrapper {
      text-align: center;
      padding: 25px 30px 0 30px;

      @include media-breakpoint-up(md) {
        padding-top: 40px;
      }
    }

    h4 {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 0;
    }

    .icon-wrapper {
      position: relative;
      display: block;
      text-align: center;
      width: 50px;
      height: 50px;
      background-color: $blue;
      border-radius: 25px;

      svg {
        position: absolute;
        top: 0;
        left: 0;
        transform: scale(1.5);

        line, circle, path {
          stroke: #fff !important;
        }
      }
      svg.filter {
        top: 17px;
        left: 17px;
      }
      svg.notification {
        top: 19px;
        left: 17px;
      }
      svg.export {
        top: 15px;
        left: 18px;
      }
    }
  }
}