body {

  h1 {
    color: $red;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  p {
    line-height: 2rem;
  }

  ul > li {
    line-height: 2rem;
  }
}

// default content container
.container.page-content {
  padding-top: 40px;
  padding-bottom: 30px;
  min-height: 200px;
}

.topbar.navbar {

  .navbar-nav {

    a.nav-link {
      padding: 0;
      margin-left: 0.5rem;
      margin-right: 0.5rem;

      color: $black;
      border-bottom: 1px solid $blue;
      font-size: 1em;
    }

    a.nav-link:hover {
      color: $blue;
    }
    a.nav-link.active {
      color: $blue;
      border-bottom: 1px solid transparent;
    }
  }

}

footer {
  font-size: $small-font-size;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
    }
    li:last-of-type {
      padding-right: 0;
    }
  }

  img {
    height: 35px;
  }

  .footer-one {
    padding: 25px 0;
    background-color: $lightblue;

    .logo {
      margin-bottom: 10px;
    }

    p {
      color: $blue;
      margin-bottom: 0.33rem;

      a {
        text-decoration: underline;
      }
    }

    ul > li {
      padding-right: 0;

      &:after {
        content: '/';
        margin: 0 6px 0 3px;
      }
      &:last-of-type:after {
        content : '';
        margin: 0;
      }

      a {
        text-decoration: underline;
      }
    }

    &:after {
      display: block;
      content: '';
      clear: left;
    }
  }
  .footer-two {
    padding: 25px 0;
    background-color: $blue;

    ul > li {
      padding-right: 20px;
    }

    &:after {
      display: block;
      content: '';
      clear: left;
    }
  }
}

table.ov-table {
  thead {
    th {
      padding: 12px;
      background-color: $blue;
      color: #fff;
    }
  }
}