body.page {
  section.header {
    height: 300px;
    background-color: $lightblue;
    font-size: 4em;
    text-align: center;
    padding-top: 100px;
    color: #fff;
  }
}

body.cpvs {

  .treemap-wrapper {
    margin-bottom: 20px;
  }

  table {
    td {
      padding: 12px;
    }

    td.code {
      width: 6%;
    }
    td.name {

    }
    td.value {
      width: 13%;
      text-align: right;
    }
  }
}