// Offene Vergaben Colors
$lightblue: #e3eff7;
$treemapBlue: #71add9;
$blue: #4291cc;
$red: #e54f5c;
$black: #4f402e;
$grey: #979694;

// Body
$body-bg: #f8fafc;
$body-color: $black;

// Typography
$font-family-sans-serif:      "Archivo", sans-serif;

$font-size-base: 0.9rem;
//$line-height-base: 1.6;